<?xml version='1.0' encoding='utf-8'?>
<widget  id="com.noncelabs.zvsmobile" 
  version="3.0.2" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>zvsMobile</name>
    <description>
        zVirtualScenes is a software-based ZWave Scene Controller where you can create custom ZWave scenes to be played back via GUI, HTTP Commands or Smartphone.
    </description>
    <author email="support@aarondrabeck.com" href="http://aarondrabeck.github.io/zVirtualScenes/">
        Nonce Labs
    </author>
    <content src="index.html" />
    <access origin="*" />	
</widget>
